
/* Josh Malters 2014 */

/* Top level styling for all pages */

.carousel {
    height: 100%;
}

 .carousel-caption {
    z-index: 10;
}

.carousel-indicators {
	bottom: 75px;
}
 .carousel .item {
    width: 100%;
    height: 800px;
    background-color: gray;
}

.carousel-inner > .item > img {
    top: 0;
    left: 0;
    height: auto;
    margin: auto;
}

@media (min-width: 768px) {
    .carousel-caption {
        margin-bottom: 75px;
    }
}

#front-motto {
	padding-top: 7%;
}

#logo {
	height: 600px;
}

#head {
	color: #fff;
	margin-top: 75px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.nav-pills {
	margin-top: 80px;
	display: inline-block;
}

.nav-pills > li > a { 
	margin-left:25px;
	margin-right:27px;
}

.nav-pills a {
	background-color: rgba(118, 192, 245, .75);
	color: white;
}

.nav-pills > li > a:hover {
	background-color: rgb(12, 103, 168);
}

#top a {
	position: relative;
	color: #000;
	text-decoration: none;
 }

#top a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 1px;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

#top a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#top a:hover {
	color: #000;
}

#page1, #page2, #page3, #page4, #page5 {
	height: 1000px;
}

#page1 {
	background-image: url(../images/bigSky.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
}

#page1 .jumbotron {
	margin-top: 200px;
	background-color: rgb(88, 95, 110);
	background-color: rgba(88, 95, 110, .85);
}

#page1 .jumbotron h3 {
	color: white;
}

#page2 {
	background-image: url(../images/playDog.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#page2 .jumbotron {
	margin-top: 450px;
	padding: 15px;
	background-color: rgb(77, 118, 138);
	background-color: rgba(77, 118, 138, .65);
}

#page2 .jumbotron a {
	color: black;
}

#page2 .jumbotron h3 {
	color: white;
}

#page3 {
	background-image: url(../images/gunDog.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -50px;
}

#page3 .jumbotron {
	margin-top: 580px;
	padding: 15px;
	padding-top: 1px;
	padding-bottom: 5px;
	background-color: rgb(31, 86, 23);
	background-color: rgba(31, 86, 23, .65);
}

#page3 .jumbotron a {
	color: black;
}

#page3 .jumbotron h3 {
	color: white;
}

#page4 {
	background-image: url(../images/boarding.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#page4 .jumbotron {
	margin-top: 150px;
	padding: 15px;
	padding-top: 1px;
	padding-bottom: 5px;
	background-color: rgb(255, 255, 0);
	background-color: rgba(255, 255, 0, .65);
}

#page4 .jumbotron a, h3{
	color: black;
}

#page5 {
	background-image: url(../images/private.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

#page5 .jumbotron {
	margin-top: 350px;
	padding: 15px;
	padding-top: 1px;
	padding-bottom: 5px;
	background-color: rgb(255, 255, 0);
	background-color: rgba(107, 28, 191, .5);
}

#page5 .jumbotron a {
	color: black;
}

#page5 .jumbotron h3 {
	color: white;
}

#test1 {
	background-color: #f2f2f2;
	padding-top: 75px;
	padding-bottom: 75px;
}

#test1 blockquote {
	border-left-color: #b6d0d3;
}

#test2 {
	background-color: #b6d0d3;
	padding-top: 75px;
	padding-bottom: 75px;
}

#aboutTxt {
	margin-top: 50px;
	background-color: rgb(242,242,242);
	padding-bottom: 50px;
}

#martyQ {
	margin-top: 150px;
	padding-bottom: 150px;
}


#martyQ img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#foot {
	background-color: rgb(242,242,242);
	padding-top: 25px;
	padding-bottom: 25px;
}

#directions {
	background-color: rgb(242,242,242);
	padding-top: 50px;
	padding-bottom: 50px;
}

#directions address {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}